<div class="container">

  <!-- Toggle Button -->
  <div class="sidebarToggle" (click)="toggleMenu()">
    <div class="toggleButton"></div>
    <div class="toggleButton"></div>
    <div class="toggleButton"></div>
  </div>

  <!-- Left sidebar -->
  <div class="sidebar" [ngClass]="{ menuOpen: menuVisibility }">
    <h4 class="sidebarMenuTitle">MENU</h4>
    <ul class="sidebarMenu">
      <li class="sidebarMenuItems"><a routerLink="/solar-position">Solar Position Calculator</a></li>
      <li class="sidebarMenuItems"><a routerLink="/rand-generator">Random String Generator</a></li>
      <li class="sidebarMenuItems"><a routerLink="/disk-capacity-calc">Disk Capacity Calculator</a></li>
      <li class="sidebarMenuItems"><a routerLink="/greek-alphabet">Greek Alphabet</a></li>
      <li class="sidebarMenuItems"><a routerLink="/nato-phonetic-alphabet">NATO Phonetic Alphabet</a></li>
      <li class="sidebarMenuItems"><a routerLink="/salary-calculator">Salary Calculator</a></li>
      <!-- Add menu items for other calculator components -->
    </ul>
  </div>

  <!-- Right content area -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>